<ul class="faqs accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

    {% for faq in faqs %}

        <li class="accordion-item" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><span>{{ faq.question }}</span></a>

            <div class="accordion-content" data-tab-content>
                <p>{{ faq.answer }}</p>
            </div>
        </li>

    {% endfor %}

</ul>