{% extends "base.twig" %}

{% block content %}
	<section class="grid-container section-404">
		<h2>404 Trap!</h2>
		<p>Sorry, there is no content in this location of the website. Please start at the <a href="/">homepage</a>, or use the menu above to escape.</p>
	</section>
{% endblock %}