{% extends "base.twig" %}

{% block content %}

    <section class="groups-archive">

        <div class="grid-container text-center">

            {% include 'partials/cornered_borders.twig' with {
            "text" : "<h1>" ~ post.title ~ "</h1>"
            } %}
            <br><br>
            {{ post.content }}

        </div>
    </section>

    <section class="groups-list grid-container full">


            {% for group in posts %}

                <div class="group grid-x">

                    <div class="cell large-4">

                        <img class="lazyload blur-up"
                             data-src="{{ TimberImage(group.thumbnail).src|resize(600,400) }}"
                             alt="{{ TimberImage(group.thumbnail).alt }}">

                    </div>

                    <div class="group-content cell large-8">
                        <h3>{{ group.title }}</h3>
                        {{ group.content }}
                        <a class="button hollow" href="https://bookeo.com/boobytrapescaperooms">Buy Tickets</a>
                    </div>
                </div>


            {% endfor %}

    </section>


{% endblock %}