{% extends "base.twig" %}

{% block content %}

    <section class="room-archive">

        <div class="grid-container text-center">

            {% include 'partials/cornered_borders.twig' with {
            "text" : "<h1>" ~ post.title ~ "</h1>"
            } %}
            <br><br>
            {{ post.content }}

        </div>
    </section>

    <section class="rooms-list grid-container full">
        <div class="grid-x">

            {% for room in posts %}
                <figure class="large-6 cell">
                    <div class="img-wrapper intrinsic">
                        <img class="lazyload blur-up"
                             data-src="{{ TimberImage(room.thumbnail).src|resize(600,400) }}"
                             alt="{{ TimberImage(room.thumbnail).alt }}">
                    </div>
                    <figcaption >
                        <h4>{{ room.title }}</h4>

                        <div class="room-content" id="content{{ loop.index0 }}">
                            {{ room.content }}
                        </div>

                        <a class="button show-more" data-content="content{{ loop.index0 }}">SHOW MORE</a>

                        <div class="lower-content">
                            <span class="buytickets"><a target="_blank" href="https://bookeo.com/boobytrapescaperooms">Buy Tickets &raquo;</a></span>
                        </div>

                    </figcaption>
                </figure>
            {% endfor %}
        </div>
    </section>

    <script>

        window.onload = function () {
            ShowMoreText.init();
        }

    </script>


{% endblock %}
