{% extends "base.twig" %}

{% block content %}
	{% for post in posts %}
		{% include ["tease-"~post.post_type~".twig", "tease.twig"] %}
	{% endfor %}

	{% include 'partials/pagination.twig' %}
{% endblock %}