{% extends "base.twig" %}

{% block hero_content %}
    <div class="hero-content-wrapper">

        <div class="hero-content show-for-large">

            <svg
                    xmlns:svg="http://www.w3.org/2000/svg"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 107.8 153"
                    id="hero-lock"
                    version="1.1">

                <path
                        id="outer-shape"
                        class="animate_class"
                        d="m 107.1,90.6 c -1.7,-10.6 -6.2,-20 -13.8,-27.8 -1.4,-1.5 -2.2,-3.2 -2.2,-5.3 0,-6.1 0,-12.1 0,-18.2 0,-2.9 -0.1,-5.8 -0.5,-8.7 C 88.3,16 76.7,3.8 62.3,0.8 60.8,0.5 59.3,0.3 57.8,0 H 51.3 C 50.1,0.4 48.8,0.4 47.5,0.7 35.7,3 27.3,9.8 21.8,20.3 19,25.5 17.9,31.1 18,36.9 c 0.1,6.6 0,13.2 0,19.7 0,1.7 -0.5,3 -1.7,4.2 -3.3,3.6 -6.6,7.2 -9.1,11.5 -3.8,6.8 -6.4,14.1 -7,21.9 0,0.2 0,0.3 -0.2,0.4 v 8.5 c 0.4,1.1 0.3,2.2 0.5,3.4 1,8.9 4.5,16.8 9.6,24 8.6,12 20.2,19.1 34.7,21.8 1.5,0.3 2.9,0.4 4.4,0.6 0.2,0 0.3,0 0.4,0.2 h 8.1 c 0.1,-0.3 0.3,-0.2 0.5,-0.2 2.6,-0.2 5.2,-0.5 7.7,-1.1 16.5,-4.1 28.8,-13.7 36.5,-28.9 5,-10.3 6.4,-21.1 4.7,-32.3 z M 27,39.5 c 0.1,-3 -0.2,-7 1.1,-10.8 C 31.4,18.5 38.3,11.9 48.9,9.6 61.1,6.9 73.8,13 79.2,24.3 c 1.6,3.3 2.5,6.8 2.7,10.5 0.2,4.5 0.3,8.9 0,13.4 -0.2,2.5 -1.9,3.7 -4.3,2.9 C 75.1,50.3 72.7,49.2 70.2,48.4 63.4,46 56.4,45.5 49.2,46.1 43.6,46.4 38.2,47.8 33,50 32,50.4 31,50.7 29.8,50.5 28,50.3 27,49.2 27,47.3 27,45 27,42.7 27,39.5 Z M 54.2,144.8 C 29.8,144.6 9.6,126.1 8.4,100.9 7.3,75.5 26.8,53.5 53.8,53.1 c 25.1,-0.4 45.7,19 46.6,44.3 0.8,24.6 -18.2,47.2 -46.2,47.4 z"/>

                <path
                        id="inner-circle"
                        class="animate_class"
                        d="M 92,101.7 C 92,81.1 78.6,65.2 60.4,62.2 39.5,58.8 20.1,72.9 16.8,93.8 c -2.5,15.8 5.6,31.7 19.9,39.2 0.8,0.4 0.9,0.7 0.6,1.5 -0.4,0.8 -0.6,1.5 -0.8,2.3 -0.2,0.8 -0.5,0.8 -1.2,0.5 C 25.2,132.2 18.1,124.4 14.2,113.7 5.1,89 20.7,62 46.6,57.4 c 23,-4.1 45,11.3 49.1,34.4 3.3,18.5 -6.2,37.2 -23.1,45.5 -0.7,0.4 -1,0.2 -1.2,-0.5 -0.2,-0.8 -0.5,-1.5 -0.8,-2.3 -0.3,-0.7 -0.1,-0.9 0.5,-1.3 13.5,-7.1 20.3,-18.5 20.9,-31.5 z"/>

                <path
                        id="maze-right"
                        class="animate_class"
                        d="M 76,75.8 C 72.4,72.4 68.3,70 63.6,68.6 c -1.2,-0.4 -2.5,-0.7 -3.7,-0.9 -0.5,-0.1 -0.8,-0.2 -0.6,-0.8 0.1,-0.2 0.1,-0.4 0.1,-0.7 0,-0.6 0.3,-0.7 0.9,-0.6 6.2,1.2 11.7,3.9 16.5,8.1 17,15.2 14.6,42.5 -4.8,54.5 -0.8,0.5 -1.6,0.9 -2.4,1.4 -0.4,0.2 -0.5,0.1 -0.7,-0.3 -1.7,-4.4 -3.4,-8.8 -5.2,-13.2 -0.2,-0.5 0,-0.7 0.4,-0.9 1.4,-0.8 2.6,-1.8 3.7,-3 0.3,-0.4 0.5,-0.3 0.8,0 0.2,0.2 0.3,0.4 0.5,0.5 0.4,0.3 0.4,0.6 0,0.9 -0.8,0.8 -1.6,1.6 -2.5,2.2 -0.3,0.2 -0.4,0.5 -0.3,0.9 0.5,1.1 0.9,2.1 1.3,3.2 0.2,0.5 0.4,0.5 0.7,0.2 3.7,-2.6 6.6,-5.9 8.6,-9.9 0.2,-0.5 0.1,-0.6 -0.3,-0.7 -1.6,-0.6 -3.1,-1.3 -4.7,-1.9 -0.6,-0.2 -0.7,-0.5 -0.4,-1.1 0.8,-1.8 1.3,-3.8 1.5,-5.8 0.1,-0.6 -0.1,-0.7 -0.7,-0.7 -1,0 -2,0.1 -3,0 -0.7,0 -0.9,0.1 -1,0.9 -0.5,4 -2.4,7.3 -5.6,9.7 -0.1,0.1 -0.3,0.2 -0.4,0.2 -0.8,-1.7 -0.8,-1.7 0.5,-2.9 4.9,-4.8 5,-12.7 0.1,-17.5 -4.9,-4.8 -12.8,-4.7 -17.5,0.2 -4.8,5 -4.5,12.9 0.6,17.5 0.7,0.6 0.8,1.1 0.4,1.9 -0.9,2.1 -1.8,4.2 -2.5,6.4 -0.2,0.6 -0.4,0.7 -0.9,0.3 -1.4,-0.9 -2.7,-2 -3.9,-3.2 -0.4,-0.4 -0.5,-0.6 0,-1 0.2,-0.1 0.3,-0.3 0.4,-0.4 0.5,-0.7 0.8,-0.6 1.4,0 1.5,1.6 1.4,1.5 2.3,-0.4 0.8,-1.6 0.7,-2.7 -0.5,-4.2 -4,-5 -3.9,-12.1 0,-17.2 0.4,-0.6 0.4,-0.9 -0.1,-1.4 -2.6,-2.5 -5.1,-5 -7.6,-7.5 -1.2,-1.2 -1.2,-1.2 0,-2.3 7.9,-7.6 19.9,-9.9 29.9,-5.6 1.2,0.5 0.3,1.1 0.2,1.7 -0.2,0.9 -0.6,0.5 -1.1,0.3 -9.5,-3.6 -18.3,-2.3 -26.3,4.1 -0.7,0.5 -0.6,0.8 0,1.4 2.2,2.1 4.3,4.3 6.5,6.5 0.4,0.4 0.7,0.5 1.2,0.1 8.8,-6.6 21.2,-1.7 23,9.2 0.1,0.6 0.3,0.8 0.9,0.8 3.2,0 6.4,0 9.6,0 0.6,0 0.7,-0.2 0.7,-0.8 -0.3,-2.7 -0.9,-5.3 -2,-7.8 -0.2,-0.5 -0.3,-0.9 0.4,-1 0.5,-0.1 1.1,-1 1.6,0.2 1.4,3.6 2.2,7.2 2.2,11.1 0,0.6 -0.2,0.7 -0.8,0.7 -1.7,0 -3.4,0 -5.1,0 -0.6,0 -0.8,0.1 -0.9,0.8 -0.1,1.5 -0.4,3.1 -0.9,4.5 -0.2,0.6 0,0.7 0.5,0.9 1.5,0.6 3,1.3 4.6,1.8 0.9,0.3 0.9,0.7 0.6,1.5 -2.2,5.1 -5.5,9.3 -10.1,12.4 -0.6,0.4 -0.8,0.8 -0.5,1.5 0.4,0.8 0.7,1.7 1,2.6 0.2,0.7 0.5,0.7 1.1,0.3 4.7,-3 8.4,-6.9 11.1,-11.8 6.5,-11.8 4.9,-26.5 -4,-36.6 -0.5,-0.6 -0.8,-0.6 -1.4,0 -2.2,2.2 -4.4,4.4 -6.6,6.6 -0.5,0.5 -0.5,0.8 0,1.4 1.4,1.6 2.4,3.5 3.2,5.4 0.2,0.6 0.4,1 -0.4,1.2 -0.6,0.2 -1,0.5 -1.4,-0.4 C 69.6,86.6 65.6,83 60,81.2 55.6,79.8 51.2,80 46.9,81.9 c -1.3,0.6 -1,-0.6 -1.4,-1.1 -0.5,-0.6 0.1,-0.8 0.5,-1 7.8,-3 15,-1.9 21.5,3.2 0.5,0.4 0.8,0.5 1.3,0 2.2,-2.3 4.7,-4.7 7.2,-7.2 z"/>

                <path
                        id="keyhole"
                        class="animate_class"
                        d="m 54.3,133 c -3.1,0.1 -6.1,-0.4 -9.2,-1.1 -0.7,-0.2 -0.8,-0.4 -0.7,-1.1 1.7,-7.4 3.3,-14.7 4.9,-22.1 0.1,-0.7 0,-1 -0.6,-1.4 -3.6,-2.3 -5.2,-6.6 -4,-10.8 1.2,-4 4.9,-6.7 9.1,-6.7 4.1,0 7.9,2.8 9.1,6.8 1.2,4.1 -0.4,8.4 -4,10.7 -0.6,0.4 -0.7,0.8 -0.5,1.5 1.7,7.4 3.3,14.7 5,22.1 0.2,0.7 0.1,1 -0.7,1.2 -2.7,0.5 -5.5,0.9 -8.4,0.9 z"/>

                <path
                        id="maze-left"
                        class="animate_class"
                        d="m 37.7,126.8 c 0.5,-1.3 0.9,-2.5 1.4,-3.6 0.2,-0.6 -0.2,-0.7 -0.5,-0.9 -3.9,-2.7 -7,-6.1 -9.2,-10.3 -2.1,-4 -3.1,-8.3 -3.1,-12.9 0,-0.7 0.2,-0.8 0.9,-0.8 1.7,0.1 3.3,0 5,0 0.7,0 0.9,-0.3 0.9,-0.9 0.1,-2.2 0.7,-4.3 1.5,-6.3 0.3,-0.7 0.6,-0.9 1.2,-0.4 0.4,0.3 1.4,0 1,1 -1.1,2.6 -1.7,5.4 -1.6,8.2 0,0.6 -0.2,0.6 -0.7,0.6 -1.7,0 -3.4,0 -5.1,0 -0.5,0 -0.8,0.1 -0.7,0.7 0.2,2.1 0.6,4.1 1.2,6 0.2,0.7 0.5,0.7 1.1,0.4 1.2,-0.6 2.5,-1.1 3.7,-1.7 0.5,-0.3 0.8,-0.2 1,0.4 0.6,1.4 0.6,1.4 -0.7,2 -1,0.5 -2,1 -3.1,1.3 -0.7,0.3 -0.7,0.6 -0.4,1.2 2.3,4.3 5.5,7.8 9.7,10.2 0.7,0.4 0.8,0.7 0.5,1.5 -0.9,2.2 -1.7,4.4 -2.5,6.7 -0.2,0.6 -0.3,0.8 -1,0.4 C 26.5,123 20.2,113.1 19.8,99.6 19.4,83.9 30.6,69.3 47,65.8 c 2.4,-0.5 4.9,-0.7 7.4,-0.7 0.6,0 0.7,0.2 0.7,0.7 0,1.4 0,1.4 -1.4,1.4 -2.6,0 -5.1,0.3 -7.6,1 -9.4,2.6 -16.2,8.2 -20.7,16.9 -0.4,0.7 -0.2,1 0.5,1.3 1.2,0.4 2.4,1 3.7,1.5 0.6,0.2 0.7,0.4 0.4,1 -0.6,1.4 -0.6,1.4 -2,0.8 -1,-0.4 -2,-0.7 -2.9,-1.2 -0.8,-0.4 -1,-0.1 -1.2,0.6 -2.5,7.8 -2.2,15.6 1.1,23.1 2.6,5.9 6.7,10.6 12.1,14.1 0,0.1 0.3,0.3 0.6,0.5 z"/>

                <path
                        id="inner-circle-part"
                        class="animate_class"
                        d="m 62.2,140.9 c -5.1,1 -10.3,1 -15.5,0.2 -0.3,0 -0.7,-0.1 -1,-0.2 -1.5,-0.4 -1.5,-0.4 -1,-1.9 -0.1,-0.3 0.1,-0.7 0.2,-1 0.3,-1.7 0.3,-1.7 1.8,-1.4 5,1 9.9,1 14.9,0 1.1,-0.2 1.4,0.1 1.4,1 0,0.1 0,0.2 0,0.4 0.1,0.3 0.2,0.6 0.2,1 0.6,1.5 0.6,1.5 -1,1.9 z"/>
            </svg>

            <a href="https://bookeo.com/boobytrapescaperooms" class="button" target="_blank">Buy Tickets</a>

        </div>

    </div>
{% endblock %}

{% block content %}



    <section class="page-section grid-container text-center">

        {% include 'partials/cornered_borders.twig' with {
        "text" : "<h1>" ~ post.title ~ "</h1>"
        } %}
        <br><br>
        {{ post.content }}

    </section>

    <section class="page-section rooms grid-container full text-center">

        <div class="grid-x small-up-1 medium-up-3 grid-margin-x grid-margin-y">

            {% for room in rooms %}

                {% if post.rooms_link == 'room-page' %}
                    {% set link = site.link ~ '/room/' %}
                {% elseif post.rooms_link == 'custom' %}
                    {% set link = post.custom_link %}
                {% else %}
                    {% set link = room.link %}
                {% endif %}



                <figure class="cell">

                    <a target="_blank" href="{{ link }}">

                        <div class="img-wrapper intrinsic">

                            <img class="lazyload blur-up"
                                 data-src="{{ TimberImage(room.thumbnail).src|resize(600,400) }}"
                                 alt="{{ TimberImage(room.thumbnail).alt }}">

                        </div>

                    </a>

                    <figcaption>
                        <h5>{{ room.title }}</h5>

                        <span>
                            {% if post.rooms_link == 'room-page' %}
                                <a href="{{ link }}">Learn More &gt;</a>
                            {% elseif post.rooms_link == 'custom' %}
                                <a target="_blank" href="{{ link }}">Book Now &gt;</a>
                            {% else %}
                                <a href="{{ link }}">Learn More &gt;</a>
                            {% endif %}
                        </span>
                    </figcaption>
                </figure>

            {% endfor %}
        </div>

    </section>

    <section class="page-section grid-container text-center">
        {% include 'partials/cornered_borders.twig' with {
        "text" : "<h2>Groups</h2>"
        } %}
        <br><br>
        {{ post.groups_text }}
    </section>

    <section class="page-section grid-container full">

        {# GROUPS - LARGE / DESKTOP ONLY #}

        <div class="panels show-for-medium">

            {% for group in groups %}


                <div class="panel panel{{ loop.index }}"
                     style="background-image:url({{ TimberImage(group.thumbnail).src|resize(500) }});">
                    <p>{{ group.title }}</p>
                </div>


            {% endfor %}
        </div>

        {# GROUPS - MOBILE ONLY #}

        <div class="grid-x hide-for-medium groups-mobile">
            {% for group in groups %}
                <figure class="cell medium-auto">
                    <div class="img-wrapper intrinsic">
                        <img class="lazyload blur-up" data-src="{{ TimberImage(group.thumbnail).src|resize(500,500) }}"
                             alt="{{ TimberImage(group.image).alt }}">
                    </div>
                    <figcaption>
                        <h5><a href="/groups/">{{ group.title }}</a></h5>
                    </figcaption>
                </figure>
            {% endfor %}
        </div>

    </section>

    <section class="page-section grid-container text-center">
        {% include 'partials/cornered_borders.twig' with {
        "text" : "<h2>Faq's<h2>"
        } %}

        {% include 'partials/faqs.twig' with { 'faqs' : faqs} %}

    </section>

    <script>

        window.onload = function () {
            PanelAnimation.init();
        }

    </script>


{% endblock %}
