{% extends "base.twig" %}

{% block content %}

<section class="faqs-page">

    <div class="grid-container text-center">

        {% include 'partials/cornered_borders.twig' with {
        "text" : "<h1>" ~ post.title ~ "</h1>"
        } %}
        <br><br>
        {{ post.content }}

    </div>

</section>

    <div class="page-faqs-background">
        <div class="grid-container">
            {% include 'partials/faqs.twig' with { 'faqs' : post.get_field('faqs') } %}
        </div>
    </div>

{% endblock %}