{% extends "base.twig" %}

{% block content %}

    <section class="contact-us-page">

        <div class="grid-container text-center">

            {% include 'partials/cornered_borders.twig' with {
            "text" : "<h1>" ~ post.title ~ "</h1>"
            } %}
            <br><br>
            <div class="grid-x">
                <div class="cell large-6 large-offset-3">
                    {{ post.content }}
                </div>
            </div>


        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1960.6537939320779!2d-89.78377432466925!3d43.57464365039493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1524836685820" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    </section>



{% endblock %}