{% extends "base.twig" %}

{% block content %}

    <section class="careers-page">

        <div class="grid-container text-center">

            {% include 'partials/cornered_borders.twig' with {
            "text" : "<h1>" ~ post.title ~ "</h1>"
            } %}
            <br><br>
            {{ post.content }}

        </div>

    </section>

    <div class="page-careers-background">
        <div class="grid-container">

            <ul class="careers">

                {% for career in post.get_field('careers') %}

                    <li>
                        <!-- Accordion tab title -->
                        <a href="#" class="title"><h2>{{ career.title }}</h2></a>

                        <div class="content">
                            <p>{{ career.description }}</p>
                        </div>
                    </li>

                {% endfor %}

            </ul>

        </div>
    </div>

{% endblock %}