/******************************
*
*  RoyalSlider Default Skin
*
*    1. Arrows
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*
*  Sprite: 'rs-default.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
*
******************************/

.royalSlider,
.rsContainer {
  width: 100% !important;
  height: auto !important;
  position: relative;

  &::after {
    @include intrinsic-ratio(1800, 400); // Add subpage width/height.

    content: '';
    display: block;
  }

  .home.page &::after {
    @include intrinsic-ratio(1800, 550); // Add homepage width/height.
  }
}

// Class for the main slide image.
.mainSlideImage {
  position: absolute;
  width: 100%;
}

/*
 * Hides all but the first slide image before the JS
 * for RoyalSlider loads.
 */
.royalSlider > .rsContent{
  display: none;

  &:first-child{
    display: block;
  }
}

/* Background */
.customSkin,
.customSkin .rsOverflow,
.customSkin .rsSlide,
.customSkin .rsVideoFrameHolder,
.customSkin .rsThumbs {
  background: #151515;
  color: $black;
}

/***************
*
*  1. Arrows
*
****************/

.customSkin .rsArrow {
  height: 100%;
  width: 44px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}

.customSkin.rsVer .rsArrow {
  width: 100%;
  height: 44px;

}

.customSkin.rsVer .rsArrowLeft {
  top: 0;
  left: 0;
}

.customSkin.rsVer .rsArrowRight {
  bottom: 0;
  left: 0;
}

.customSkin.rsHor .rsArrowLeft {
  left: 0;
  top: 0;
}

.customSkin.rsHor .rsArrowRight {
  right: 0;
  top: 0;
}

.customSkin .rsArrowIcn {
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;

  position: absolute;
  cursor: pointer;
  background: url('../img/rs-default.png');
  background-color: rgba($primary-color, 0.7);
  border-radius: 2px;
  transition: background-color .3s;
}

.customSkin .rsArrowIcn:hover {
  background-color: rgba($primary-color, 0.85);
}

.customSkin.rsHor .rsArrowLeft .rsArrowIcn {
  background-position: -64px -32px;
}

.customSkin.rsHor .rsArrowRight .rsArrowIcn {
  background-position: -64px -64px;
}

.customSkin.rsVer .rsArrowLeft .rsArrowIcn {
  background-position: -96px -32px;
}

.customSkin.rsVer .rsArrowRight .rsArrowIcn {
  background-position: -96px -64px;
}

.customSkin .rsArrowDisabled .rsArrowIcn {
  opacity: .2;
}

/***************
*
*  2. Bullets
*
****************/

.customSkin .rsBullets {
  position: absolute;
  z-index: 35;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;

  background: #000;
  background: rgba(0, 0, 0, 0.75);

  text-align: center;
  line-height: 8px;
  overflow: hidden;
}

.customSkin .rsBullets * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.customSkin .rsBullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  padding: 6px 5px 6px;
}

.customSkin .rsBullet span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #777;
  background: rgba(255, 255, 255, 0.5);
}

.customSkin .rsBullet.rsNavSelected span {
  background-color: #fff;
}

/***************
*
*  3. Thumbnails
*
****************/

.customSkin .rsThumbsHor {
  width: 100%;
  height: 72px;
}

.customSkin .rsThumbsVer {
  width: 96px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.customSkin.rsWithThumbsHor .rsThumbsContainer {
  position: relative;
  height: 100%;
}

.customSkin.rsWithThumbsVer .rsThumbsContainer {
  position: relative;
  width: 100%;
}

.customSkin .rsThumb {
  float: left;
  overflow: hidden;
  width: 96px;
  height: 72px;
}

.customSkin .rsThumb img {
  width: 100%;
  height: 100%;
}

.customSkin .rsThumb.rsNavSelected {
  background: #02874a;
}

.customSkin .rsThumb.rsNavSelected img {
  opacity: 0.3;
}

.customSkin .rsTmb {
  display: block;
}

/* Thumbnails with text */
.customSkin .rsTmb h5 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 20px;
  color: #fff;
}

.customSkin .rsTmb span {
  color: #ddd;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
}

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
  .customSkin .rsThumb {
    width: 59px;
    height: 44px;
  }
  .customSkin .rsThumbsHor {
    height: 44px;
  }
  .customSkin .rsThumbsVer {
    width: 59px;
  }
}

/***************
*
*  5. Fullscreen button
*
****************/

.customSkin .rsFullscreenBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 22;
  display: block;
  position: absolute;
  cursor: pointer;

}

.customSkin .rsFullscreenIcn {
  display: block;
  margin: 6px;
  width: 32px;
  height: 32px;

  background: url('rs-default.png') 0 0;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 2px;

}

.customSkin .rsFullscreenIcn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.customSkin.rsFullscreen .rsFullscreenIcn {
  background-position: -32px 0;
}

/***************
*
*  6. Play/close video button
*
****************/

.customSkin .rsPlayBtn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  cursor: pointer;
}

.customSkin .rsPlayBtnIcon {
  width: 64px;
  display: block;
  height: 64px;
  border-radius: 4px;

  transition: .3s;

  background: url(rs-default.png) no-repeat 0 -32px;
  background-color: rgba(0, 0, 0, 0.75);
}

.customSkin .rsPlayBtn:hover .rsPlayBtnIcon {
  background-color: rgba(0, 0, 0, 0.9);
}

.customSkin .rsBtnCenterer {
  position: absolute;
  left: 50%;
  top: 50%;
}

.customSkin .rsCloseVideoBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 500;
  position: absolute;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);

}

.customSkin .rsCloseVideoBtn.rsiOSBtn {
  top: -38px;
  right: -6px;
}

.customSkin .rsCloseVideoIcn {
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url('rs-default.png') -64px 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.customSkin .rsCloseVideoIcn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/***************
*
*  7. Preloader
*
****************/

.customSkin .rsPreloader {
  width: 20px;
  height: 20px;
  background-image: url(../preloaders/preloader-white.gif);

  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
}
