.page-section {
  margin: 2rem auto;
}
// ---------------------------------------
//  Front Page
// ---------------------------------------
section.rooms {
  background-image: url('../img/rooms-bg.jpg');
  background-position: center;
  background-repeat: repeat-y;
  background-size: auto;
  @include breakpoint(medium) {
    background-size: cover;
    background-repeat: no-repeat;
  }
}
section.rooms > div {
  padding: 0.5rem 0;
  margin: 2rem 0;
  //background: $dark-gray;
}
section.rooms .img-wrapper {
  @include intrinsic-ratio(3,2);
}
section.rooms figure, .groups-mobile figure {
  position: relative;
  &::after {
    pointer-events: none;
    @include faded_grad_black;
  }
}
section.rooms figcaption, .groups-mobile figcaption {
  z-index: 2;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 0 1rem 1rem;
  color: $white;
  span {
    font-style: italic;
    color: $primary-color;
    text-transform: uppercase;
  }
}

.groups-mobile h5 {
  &::after {
    content: '';
    width: 100%;
    border-bottom: solid 2px $primary-color;
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
  }
}
.groups-mobile a {
  color: $white;
}
.groups-mobile .img-wrapper {
  @include intrinsic-ratio(1,1);
  &::after {
    @include faded_grad_black;
  }
}

// ---------------------------------------
//  Front Page - Sliding Panels
// ---------------------------------------
.panels {
  height:500px;
  overflow: hidden;
  display: flex;
}
.panels .panel {
  background: $black;
  //box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: left;
  align-items: flex-end;
  justify-content: flex-start;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
          font-size 0.7s,
          flex 0.7s,
          filter 0.7s,
          background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  flex: 1;
  //justify-content: center;
  display: flex;
  flex-direction: column;
  filter: grayscale(100%);
  position: relative;
  &::after {
    @include faded_grad_black;
  }
}

/* Flex Items */
.panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 0 auto;
  display:flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1rem;

}

//.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
//.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
  text-transform: uppercase;
  @include oswald;
  font-weight: 700;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  position: relative;
  z-index: 2;
  &::after {
    transition: width 0.7s;
    content: '';
    width: 6rem;
    border-bottom: solid 2px $primary-color;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }
}
.panel p a {
  color: $white;
  &:hover {
    color: $primary-color;
  }
}
//.panel p:nth-child(2) {
//  font-size: 4em;
//}

.panel.open {
  flex: 2;
  filter: grayscale(0);
}
.panel.open p {
  &::after {
    width: 75%;
  }
}

// ---------------------------------------
//  Lazyloading
// ---------------------------------------
// Styles to blur low quality image and fade in the High Quality over it.
.lazyload.blur-up,
.lazyloading.blur-up {
  filter: blur(10px);
  transition: filter 1s;
}

.lazyloaded.blur-up {
  filter: blur(0);
}


// ---------------------------------------
//  Intrinsic Sizes
// ---------------------------------------
.intrinsic {
  position: relative;
  height: 0;

  &.hero {
    @include intrinsic-ratio(1600, 550);
  }

  img,
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    overflow: hidden;
  }
}

// ---------------------------------------
//  General SVG Icon Styles
// ---------------------------------------
svg.icon {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
  fill: currentColor; // Applies current font color to fill.
}

.header {
  background: $black;
  text-align: center;
}
// ---------------------------------------
//  Cornered Borders
// ---------------------------------------
.cornered-border {
  display: inline-block;
  position: relative;
  padding: 0 1rem 0 1rem;
}
$border-thickness: 3px;
.cornered-border:before {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: -10px;
  border-top: $border-thickness solid $primary-color;
  border-left: $border-thickness solid $primary-color;
}
.cornered-border:after {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: -10px;
  border-top: $border-thickness solid $primary-color;
  border-right: $border-thickness solid $primary-color;
}
.cornered-border span:before {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 0px;
  left: -10px;
  border-bottom: $border-thickness solid $primary-color;
  border-left: $border-thickness solid $primary-color;
}
.cornered-border span:after {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 0px;
  right: -10px;
  border-bottom: $border-thickness solid $primary-color;
  border-right: $border-thickness solid $primary-color;
}
// ---------------------------------------
//  404
// ---------------------------------------
.section-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}