.careers-page {
  margin-top: 2rem;
}
.page-careers-background {
  padding: 1rem 0;
  background-image: url('../img/rooms-bg.jpg');
  //background-position: center;
  background-repeat: repeat-y;
  background-size: auto;
}
.careers {
  background: transparent;
  border: none;
  color: $white;
}
.careers .content {
  padding: 0;
  background-color: transparent;
  border: none;
  color: $white;
}
.careers a.title {
  border: none;
  border-bottom: 1px solid $white;
  color: $white;
  padding: 0;
  &:hover {
    background-color: transparent;
  }
  &:focus {
    background-color: transparent;
  }
}

.careers > li {
  position: relative;
  list-style: none;
}

