.faqs-page {
  margin-top: 2rem;
}
.page-faqs-background {
  padding: 1rem 0;
  background-image: url('../img/rooms-bg.jpg');
  //background-position: center;
  background-repeat: repeat-y;
  background-size: auto;
}

.page-faqs-background .faqs .accordion-title::before {
  background-color: $primary-color;
  outline: solid 2px $black;
}
.page-faqs-background .accordion-title {
  border: none;
  outline: solid 2px $black;
}
.page-faqs-background .faqs .accordion-item.is-active .accordion-title::before {
  background-color: $secondary-color;
}


// ---------------------------------------
//  Accordion - FAQs
// ---------------------------------------
.faqs {
  margin-top: 2rem;
}
.faqs a {
  text-align: left;
  color: $black;
  font-weight: 700;
  &:hover {
    color: $primary-color;
  }
}
.faqs p {
  text-align: left;
}
.faqs .accordion-title {
  max-height: 52px;
  background-color: lightgray;
}
.faqs .accordion-title span {
  display: block;
  max-width: 85%;
}
.faqs .accordion-title::before {
  transition: all 0.5s;
  content: "";
  background-color: $black;
  width: 52px;
  height: 52px;
  margin: 0;
  right: 0;
  top: 0;
}
.faqs li {
  position: relative;
}
.faqs li::after {
  transform: rotate(0deg);
  transition: all 0.5s;
  @include css-triangle(10px, $white, down);
  position: absolute;
  right: 1rem;
  top: 20px;
  content: '';
  pointer-events: none;
}
.faqs .accordion-item.is-active::after {
  transform: rotate(180deg);
  //margin-top: -0.7rem;
}