.upper-footer {
  padding: 2rem 0;
  background-color: $primary-color;
  color: $white;
}
.upper-footer .links li,
.upper-footer .rooms li {
  position: relative;
  text-align: center;
  @include breakpoint(large) {
    text-align: left;
    margin-left: 1rem;
  }
}
.upper-footer .links li::before,
.upper-footer .rooms li::before {
  @include breakpoint(large) {
    content: '';
    @include css-triangle(5px, $white, right);
    position: absolute;
    margin-left: -1rem;
    top: 0.5rem;
  }
}
.upper-footer .icon {
  fill: $white;
}
.upper-footer h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  @include breakpoint(large) {
    margin-top: 0;
    text-align: left;
  }
}
.upper-footer .logo-social {
  text-align: center;
}
.upper-footer .logo-social a {
  padding: 1rem 0.6rem 0 0.6rem;
}
.upper-footer .links a,
.upper-footer .rooms a {
  color: $white;
  padding: 0;
  line-height: 1.6em;
}
.upper-footer .address {
  text-align: center;
  @include breakpoint(large) {
    text-align: left;
  }
}
.lower-footer {
  background-color: $black;
  color: $white;
  padding: 0.5rem 0;
}

.footer-logo {
  width: 200px;
  height: 91px;
}
.footer-logo .logo-line1 {
  fill: $white;
}