.gform_wrapper ul {
  margin-left: 0;
  margin-right: 0;
}
.gform_wrapper li {
  list-style: none;
}

.gform_wrapper .button {
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  @include breakpoint(medium) {
    width: inherit;
  }
}

.gform_wrapper .gform_footer {
  text-align: left;
}

.contact-us-page .gform_wrapper .gfield_label {
  display:none;
}

.gform_validation_container {
  display: none;
}