.groups-archive {
  margin-top: 2rem;
}

.groups-list .group {
  border-bottom: $white 1px solid;

  background-image: url('../img/rooms-bg.jpg');
  background-position: center;
  background-repeat: repeat-y;
  background-size: auto;
  @include breakpoint(medium) {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.groups-list .group-content {
  color: $white;
  padding: 2rem 1rem 1rem 1rem;
}
.groups-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.groups-list .button {
  border: 2px solid;
  text-transform: uppercase;
  font-weight: 700;
  &:hover {
    border-color: $white;
    color: $white;
  }
}
