.hero-content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-content-wrapper .button {
  @include oswald;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1rem;
  display: block;
}
