#hero-lock {
  width: 157px;
  height: 200px;
  fill: $white;
}
#hero-lock path {
  fill-opacity: 0;
  stroke-width: 1px;
  stroke: $white;
  stroke-opacity: 1;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}
#hero-lock #outer-shape {
  stroke-dasharray: 877.438;
  stroke-dashoffset: 877.438;
  animation-delay: 1s;
}
#hero-lock #inner-circle {
  stroke-dasharray: 441.08;
  stroke-dashoffset: 441.08;
  animation-delay: 1.1s;
}
#hero-lock #inner-circle-part {
  stroke-dasharray: 44.822;
  stroke-dashoffset: 44.822;
  animation-delay: 1.1s;
}
#hero-lock #maze-right {
  stroke-dasharray: 636.173;
  stroke-dashoffset: 636.173;
  animation-delay: 1.2s;
}
#hero-lock #maze-left {
  stroke-dasharray: 299.585;
  stroke-dashoffset: 299.585;
  animation-delay: 1.2s;
}
#hero-lock #keyhole {
  stroke-dasharray: 118.503;
  stroke-dashoffset: 118.503;
  animation-delay: 1.3s;
}
.animate_class {
  animation-name: draw;
}
@keyframes draw {
  0% {
    fill-opacity: 0;
    stroke-opacity: 1;
  }
  90% {
    stroke-opacity: 1;
    fill-opacity: 0;
    stroke-dashoffset: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-opacity: 0;
    stroke-dashoffset: 0;
  }
}