/**
 * Off canvas nav
 */
// Make off canvas nav the full height
.off-canvas {
  height: 100%;
}
.mobile-nav {
  margin-top: 0.75rem;
}
.logo-titlebar {
  width: 150px;
  height: 50px;
}

.logo-titlebar {
  fill: $white;
}
.logo-titlebar g.logo-line2 path {
  fill: $primary-color;
}

.header .menu-item {
  text-transform: uppercase;
  @include oswald;
}
.header .menu-item a {
  color: $white;
  &:hover {
    color: $primary-color;
  }
}

.header .menu-item:last-child {
  margin-left: 1rem;
  outline: 2px solid $primary-color;
}
.nav-main ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-nav-logo {
  width: 150px;
  height: 70px;
}
#main-nav-logo #line1, #main-nav-logo #lock {
  fill: $white;
}
#main-nav-logo #line2 {
  fill: $primary-color;
}