.room-archive {
  margin-top: 2rem;
}
.rooms-list {
  background-color: $black;
}
.rooms-list .img-wrapper {
  @include intrinsic-ratio(3,2);
}
.rooms-list .img-wrapper {
  position: relative;
  &::after {
    @include faded_grad_black;
  }
}
.rooms-list figcaption {
  display: flex;
  flex-direction: column;

  text-align: left;
  background-color: $black;
  padding: 0 0 1rem 1rem;
  color: $white;
  .difficulty-title {
    font-size: 1.4em;
    font-style: italic;
    color: $white;
  }
  .buytickets {
    font-style: italic;
    color: $primary-color;
    text-transform: uppercase;
  }
}
.difficulty {
  display: flex;
}
.difficulty > div {
  margin: 0.5rem 0.3rem;
  opacity: 0.3;
}
.difficulty > div.active {
  opacity: 1;
}
.lower-content{
  margin-top: auto;
}
.rooms-list .room-content {
  margin-right: 1rem;
  max-height: 80px;
  overflow: hidden;
  /* Set Transitions */
  transition: max-height 0.7s;
}
.rooms-list .room-content.open {
  max-height: 1000px;
  /* Set transitions */
  transition: max-height 0.7s;
}
.rooms-list .show-more {
  margin-right: 1rem;
}