.hero.splash {
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.splash-content {
  margin-top: 2rem;
}
.splash-content .cell {
  text-align: center;
}
.splash-content h4 {
  color: $primary-color;
  //margin-left: 1rem;
}
.splash-content .icon {
  fill: $primary-color;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.splash-content span {
  @include oswald;
  font-size: 2em;
  font-weight:700;
}
.splash.hero-content {
  text-align: center;
}

.splash.hero-content svg {
  min-width: 100px;
  max-width: 100%;
}
a.splash.button.hollow {
  color: white;
  font-weight: 700;
  background: rgba(0,0,0,0.5);
  border: 3px solid $primary-color;
  &:hover {
    color: $white;
  }
}
.splash-logo .logo-line1 path {
  fill: $white;
}
.splash-logo .logo-line2 path {
  fill: $primary-color;
}