// ---------------------------------------
//  General helper classes
// ---------------------------------------
body {
  @include opensans;
}

a {
  transition: all .2s ease;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  @include oswald;
  font-weight: 700;
  margin-bottom: 0;
}

.text-upper {
  text-transform: uppercase;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

