<div>
    <div class="title-bar fixed hide-for-large" data-hide-for="large">
        <div class="float-left">
            {# small logo #}
            <a href="/">
                <svg class="logo-titlebar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 196 89.2">

                    <g class="logo-line1">
                        <path class="st8" d="M185.4,39.5c0,4.3,0,8.7,0,13c0,0.3,0,0.6,0,0.9c-2.6-0.4-5.2-0.9-7.8-1.3c0-2.5,0-4.9,0-7.4
			c0-11.4-0.1-22.9-0.1-34.3c0-0.7,0.2-0.8,0.8-0.8c2.8,0.2,5.5,0.3,8.3,0.4c4.2,0.2,7.7,3.2,9,7.5c0.2,0.7,0.2,1.5,0.6,2.2
			c0,0.2,0,0.4,0,0.6c-0.2,0.2-0.1,0.5-0.1,0.7c0,2.6,0,5.1,0,7.7c0.1,0.5,0,0.9-0.1,1.3c-0.7,3-2.1,5.4-5.1,6.5
			c-1.5,0.6-3.1,0.6-4.6,0.3c-0.4-0.1-0.6,0-0.6,0.5C185.4,38.1,185.4,38.8,185.4,39.5z M188,20.7c0-0.5,0-0.9,0-1.4
			c0-1.8-0.4-2.1-2.1-2.2c-0.4,0-0.5,0.1-0.5,0.5c0,0.7,0,1.4,0.1,2.1c0,3.2,0,6.3,0,9.5c0,0.4,0.2,0.5,0.5,0.5c0.2,0,0.4,0,0.6,0
			c1.2,0.1,1.5-0.1,1.5-1.3C188,25.9,188,23.3,188,20.7z"/>
                        <path class="st8" d="M0,54.9c0-13,0-26,0-39.1c0-4.6,0-9.1,0-13.7c0-0.5,0.1-0.7,0.7-0.7c3.5-0.1,7-0.2,10.4-0.3
			c5.8,0,10.4,4.1,11.1,9.8c0.3,2.5,0.1,5,0.1,7.5c-0.3,2.1-1.1,4.1-2.3,5.9c-0.7,1.1-0.7,1.1,0.3,2.1c1.3,1.9,2.4,4,2.5,6.3
			c0.1,2,0,4,0,6.1c0,0.5,0,1,0,1.6c0,0.1-0.1,0.2-0.1,0.3c-0.9,6.4-5.2,10.9-11.5,12.1c-2.8,0.5-5.6,1-8.4,1.5
			C1.9,54.7,1,55,0,54.9z M12.7,13.7c0-0.6,0.1-1.2,0-1.9c0-1.6-1.3-2.5-2.9-2c-0.3,0.1-0.2,0.3-0.2,0.4c0,0.7,0,1.4,0,2.1
			c0,1.6,0,3.1,0,4.7c0,1.8,0,3.6,0,5.4c0,0.2-0.2,0.5,0.2,0.5c1.6,0.2,2.7-0.6,2.8-2.3C12.7,18.5,12.7,16.1,12.7,13.7z M9.6,33
			c0,3.3,0,6.6-0.1,9.9c0,1.9,0,1.9,1.9,1.5c1.1-0.3,1.7-0.9,1.7-2c0-2.7,0-5.5,0-8.2c0-0.3,0-0.6,0-0.9c0.1-2.3-0.5-3.3-3.1-2.8
			c0,0,0,0-0.1,0c-0.3,0-0.4,0.1-0.4,0.4C9.6,31.6,9.6,32.3,9.6,33z"/>
                        <path class="st8" d="M24.2,44c0-8.8,0-17.6,0.1-26.3c0-1.4,0.3-2.7,0.8-4c1.6-3.5,4.4-5.2,8.2-5.4c1.1-0.1,2.1,0,3.2,0.2
			c3.8,0.7,6.6,4,6.6,7.9c0,8.2-0.1,16.4-0.1,24.5c0,0.4,0,0.8-0.1,1.1c0,0.1-0.1,0.1-0.1,0.2c-1,4.2-3.5,6.9-7.7,7.9
			c-1.4,0.3-2.9,0.5-4.3,0.4c-1.7-0.1-3.1-0.7-4.3-1.9C25.2,47.3,24.5,45.8,24.2,44z M32.3,18.9c0,0.3-0.1,0.7-0.1,1c0,4,0,8,0,12
			c0,3.4,0,6.7,0,10.1c0,0.5,0,0.9,0.5,1.2c1,0.5,2.3-0.2,2.3-1.3c0-0.7,0-1.4,0-2.1c0-3.8,0-7.6,0-11.4c0-3.2,0-6.4,0-9.7
			c0-0.6,0-1.2,0-1.9c0-0.8-0.4-1.2-1.2-1.3c-0.9-0.1-1.6,0.4-1.6,1.2C32.2,17.4,32.2,18.1,32.3,18.9z"/>
                        <path class="st8" d="M151.9,30.8c1.6,2.2,1.8,4.8,1.7,7.3c0,2.7,0,5.4,0,8.1c0,0.7,0,1.4,0.3,2.1c0.1,0.3,0.1,0.5-0.3,0.5
			c-2.1-0.3-4.3-0.5-6.4-0.7c-0.9-0.1-1.4-0.3-1.6-1.2c0-3.3-0.1-6.6-0.1-9.9c0-0.4,0-0.7,0-1.1c0-0.7,0.1-1.4,0-2.1
			c0-1-0.5-1.4-1.5-1.5c-0.3,0-0.6,0-0.9-0.1c-0.3,0-0.5,0.1-0.5,0.4c0,0.7,0,1.4,0,2.1c0,3.6,0,7.2,0,10.7c0,0.7,0,1.4,0,2.1
			c-2.7-0.2-5.3-0.4-8-0.6c0-3.5,0-7-0.1-10.5c0-9.2-0.1-18.5-0.1-27.7c0-0.6,0.1-0.8,0.8-0.8c3,0.1,5.9,0.1,8.9,0.2
			c5,0.2,9.1,4.3,9.3,9.3c0.1,2.4,0.1,4.7,0,7.1c-0.4,1.4-0.9,2.7-1.8,3.9C150.8,29.7,150.8,29.7,151.9,30.8z M145.4,18.3
			c0-0.6,0-1.3,0-1.9c0-1.1-0.5-1.5-1.6-1.6c-0.3,0-0.6,0-0.9,0c-0.3,0-0.5,0.1-0.5,0.4c0,0.7,0,1.4,0,2.1c0,2.4,0,4.7,0,7.1
			c0,1.4,0.1,1.4,1.5,1.4c0.9,0,1.3-0.3,1.3-1.3C145.5,22.4,145.5,20.4,145.4,18.3z"/>
                        <path class="st8" d="M82.3,27.3c1.5,2,2,4.2,1.9,6.6c-0.1,1.1,0,2.3,0,3.4c-0.1,0.6-0.2,1.1-0.3,1.7c-1,3.9-4.4,6.7-8.7,7
			c-3.4,0.2-6.7,0.4-10.1,0.6c0-2.3,0-4.6,0-6.9c0-8.2,0-16.4,0.1-24.5c0-2.2,0-4.4,0-6.7c0-0.4,0.1-0.6,0.5-0.6
			c2.9,0,5.8-0.2,8.7-0.1c3.5,0.1,6.4,1.4,8.2,4.5c0.3,0.4,0.4,0.9,0.7,1.4c0,0.1,0.1,0.3,0.1,0.4c0.5,2,0.4,4,0.4,6
			c0,0.3,0,0.6,0,0.9c-0.3,1.5-0.8,2.9-1.6,4.1C81.3,26.3,81.3,26.3,82.3,27.3z M75.7,17.7c0-0.6,0-1.3,0-1.9c0-1.3-1.2-2.1-2.4-1.6
			c-0.2,0.1-0.2,0.2-0.2,0.4c0,0.7-0.1,1.5,0.1,2.2c0,2.3-0.1,4.5-0.1,6.8c0,0.2,0,0.3,0.2,0.4c1.2,0.4,2.4-0.4,2.5-1.6
			C75.7,20.8,75.7,19.2,75.7,17.7z M73,32c0,2.1,0,4.1,0,6.2c0,1.7,0,1.7,1.7,1.5c1-0.1,1.4-0.5,1.4-1.5c0-1.8,0-3.5,0-5.3
			c0-0.7,0.1-1.5,0-2.2c0-0.8-0.5-1.3-1.2-1.4c-0.5-0.1-1,0-1.6,0c-0.3,0-0.3,0.2-0.3,0.4C73,30.6,73,31.3,73,32z"/>
                        <path class="st8" d="M44.4,42.1c-0.2-3.8,0-7.5,0-11.3c0-3.8,0-7.7,0-11.5c0-1.5-0.1-2.9,0.2-4.4c0.8-4.2,3.9-6.9,8.2-7.3
			c1.5-0.1,2.9-0.1,4.4,0.2c3.6,0.8,6.1,4,6.1,7.7c0,8.1,0,16.2-0.1,24.3c0,0.1-0.1,0.2-0.1,0.3c-0.5,3.3-2.4,5.7-5.4,7.1
			c-2.2,1-4.7,1.1-7.1,0.9c-1.5-0.2-2.8-0.8-3.9-1.9C45.5,45.1,44.8,43.7,44.4,42.1z M49.2,37.5c-0.1,2.6,2.5,4.9,4.9,4.4
			c1.9-0.4,3.1-1.7,3.8-3.5c0.7-2.2-0.5-4.7-2.8-5.6c-0.3-0.1-0.4-0.2-0.4-0.5c0-4.5,0-9,0-13.5c0-0.4,0.1-0.5,0.5-0.5
			c0.5,0,0.9,0,1.4-0.1c0.5,0,0.3-0.4,0.3-0.6c0-0.2,0.1-0.5-0.3-0.4c-0.3,0-0.6,0-0.6-0.5c0-0.5,0.4-0.4,0.7-0.4
			c0.4,0,0.6-0.1,0.5-0.5c0-0.2,0-0.4,0-0.6c0-0.4-0.1-0.5-0.5-0.5c-0.5,0.1-1,0.1-1.6,0.1c-0.2,0-0.3,0.1-0.5-0.2
			c-0.4-0.8-1.2-0.3-1.8-0.3c-0.5,0-0.3,0.6-0.3,0.9c0,5.7,0,11.3,0,17c0,0.4,0,0.7-0.5,0.9C50.2,34,49.2,35.5,49.2,37.5z"/>
                        <path class="st8" d="M155.1,48.9c-0.4,0-0.3-0.3-0.2-0.5c0.8-4.7,1.5-9.3,2.3-14c1.3-8.1,2.6-16.1,3.9-24.2
			c0.2-1.4,0.2-1.4,1.6-1.3c2.1,0.1,4.1,0.2,6.2,0.2c0.5,0,0.7,0.2,0.7,0.6c1.1,7.1,2.3,14.3,3.5,21.4c1.1,6.7,2.1,13.4,3.2,20.1
			c0,0.3,0.2,0.6-0.3,0.5c-2.4-0.5-4.8-0.8-7.3-1.1c-0.4-0.1-0.6-0.2-0.6-0.7c-0.2-1.8-0.4-3.5-0.5-5.3c0-0.4-0.2-0.5-0.5-0.5
			c-0.9-0.1-1.9-0.2-2.8-0.3c-0.6-0.1-0.7,0.1-0.7,0.6c-0.1,1.5-0.3,3.1-0.4,4.6c0,0.6-0.2,0.7-0.8,0.7
			C159.9,49.5,157.5,49.2,155.1,48.9z M162.8,27.3c-0.1,0.6,0.2,1.2,0.6,1.6c0.3,0.3,0.4,0.7,0.4,1.2c-0.1,1.8-0.2,3.6-0.4,5.3
			c-0.1,0.7,0.1,0.9,0.8,0.9c0.6,0,1.2,0.1,1.8,0.2c0.6,0.1,0.7-0.1,0.7-0.7c-0.2-1.8-0.3-3.7-0.4-5.5c0-0.5,0.1-0.9,0.5-1.3
			c0.4-0.4,0.5-0.9,0.6-1.5c0.2-1.1-0.3-1.8-1.1-2.4c-0.7-0.6-1.5-0.6-2.3-0.1C163,25.6,162.6,26.3,162.8,27.3z"/>
                        <path class="st8" d="M110.8,7.7c0-2.4,0-4.9,0-7.3c0-0.5,0.3-0.4,0.6-0.4c2.6,0,5.3,0,7.9,0c3.6,0,7.3,0.1,10.9,0.1
			c0.8,0,1.6,0.1,2.4,0c0.5,0,0.6,0.1,0.6,0.6c0,2.4,0,4.8,0,7.2c-0.2,0-0.5,0-0.7,0c-1.7,0-3.5-0.1-5.2-0.1c-0.4,0-0.6,0.1-0.5,0.5
			c0,0.7,0,1.4,0,2.1c0,4.6,0,9.2,0,13.7c0,7.3,0.1,14.6,0.1,21.9c0,0.1,0,0.3,0,0.4c-3.2-0.2-6.4-0.3-9.7-0.5c0-4.6,0-9.1-0.1-13.7
			c0-7.1,0-14.2,0-21.3c0-0.3,0-0.5,0-0.8c0.1-0.7,0-1.3,0.1-2c0-0.4-0.1-0.6-0.6-0.6C114.7,7.7,112.7,7.7,110.8,7.7z"/>
                        <path class="st8" d="M83,10.3c-0.1-0.7-0.4-1.4-0.7-2.1c-0.1-0.4,0-0.5,0.4-0.5c2.3,0,4.7,0,7,0c0.5,0,0.5,0.3,0.6,0.6
			c1.1,3.7,2.2,7.5,3.3,11.2c0.1,0.2,0.1,0.4,0.2,0.7c0.7-2.4,1.4-4.7,2.1-6.9c0.5-1.7,1-3.4,1.5-5.1c0.1-0.3,0.2-0.5,0.6-0.5
			c2.3,0,4.6,0,6.9,0c0.6,0,0.5,0.2,0.4,0.6c-0.2,0.7-0.5,1.3-0.6,2c-0.1,0.2-0.2,0.3-0.2,0.5c-2.1,5.9-4.1,11.9-6.2,17.8
			c-0.4,1.2-0.5,2.3-0.4,3.5c0,2.7,0,5.4,0,8.1c0,1.8,0,3.6,0,5.4c-2.6,0-5.2,0-7.8,0.1c0-4.2,0-8.4,0-12.5c0-0.3,0-0.6,0-0.9
			c0-1,0.2-2-0.2-3c-1.5-4.3-3-8.6-4.5-12.9C84.5,14.3,83.9,12.2,83,10.3z"/>
                        <path class="st8"
                              d="M53.4,40.1c-1.5,0-2.5-1.1-2.5-2.7c0-1.6,1.3-3,2.8-3c1.5,0,2.6,1.2,2.5,2.8C56.1,38.7,54.9,40.2,53.4,40.1z"
                        />
                    </g>
                    <g class="logo-line2">
                        <path class="st4" d="M162.9,76.3c-0.1,3.7-0.2,7.3-0.3,11c-0.3,0.1-0.5,0.1-0.8,0c-1.3-0.1-2.6-0.2-3.9-0.3
			c-0.1-1.9,0.1-3.8,0.1-5.7c0.2-5.5,0.3-11,0.5-16.4c0.1-1.7,0.1-3.4,0.2-5.1c0-0.3,0.1-0.4,0.4-0.5c1.6-0.1,3.1-0.2,4.7-0.4
			c0.5-0.1,0.6,0.2,0.6,0.6c0.7,3.9,1.5,7.7,2.3,11.6c0.3-1.7,0.7-3.4,1-5c0.4-2,0.8-4,1.2-6c0.1-0.5,0.4-0.5,0.7-0.5
			c1.3-0.1,2.7-0.1,4-0.2c0.5,0,0.6,0.1,0.6,0.6c0.1,2.6,0.3,5.2,0.5,7.8c0.4,6.7,0.6,13.4,0.7,20.1c0,0.3,0.1,0.5-0.1,0.8
			c-1.7-0.2-3.3-0.3-5-0.5c0-3.9,0-7.8,0-11.7c0-0.3,0-0.7,0-1c0-0.8,0-1.5,0-2.4c-0.1,0.2-0.1,0.3-0.1,0.3
			c-0.4,2.6-0.9,5.2-1.3,7.8c-0.1,0.5-0.3,0.6-0.8,0.6c-1,0-2-0.1-3,0c-0.7,0.1-0.9-0.2-0.9-0.8c0-0.1,0-0.2,0-0.4
			c-0.4-2.8-0.7-5.5-1.1-8.3C162.9,73.6,162.9,74.9,162.9,76.3z"/>
                        <path class="st5" d="M138.7,77.7c-0.2-3.8,0.1-7.6,1-11.3c0.6-2.5,1.6-4.8,3.2-6.9c3.3-4.4,9.8-2.2,11.2,1.5
			c0.9,2.5,1.5,5,1.9,7.6c0.4,2.5,0.6,5.1,0.6,7.7c-0.1,0.2-0.1,0.5-0.1,0.7c-0.1,1.6-0.3,3.1-0.7,4.6c-0.6,2.1-1.5,4-3.1,5.5
			c-2.7,2.5-7,2-9.5,0.7c-2-1.1-2.9-3-3.6-5.1C139.1,80.9,139,79.3,138.7,77.7z M151.5,74.3c0.2-0.6,0.1-1.3,0-1.9
			c-0.3-1.8-0.9-3.5-2.2-4.9c-1.2-1.2-2.3-1.1-3.3,0.2c-1.4,2.1-2,4.3-1.8,6.8c0.1,1.9,0.7,3.6,1.8,5.1c0.8,1.1,1.8,1.3,2.8,0.3
			C150.3,78.4,151.3,76.5,151.5,74.3z"/>
                        <path class="st5" d="M119.9,77.1c-0.1-4,0.2-7.9,1.3-11.7c0.6-2.3,1.7-4.3,3.2-6.2c3.3-4.1,9.5-1.9,10.9,1.5
			c0.9,2.2,1.4,4.5,1.8,6.8c0.5,3.1,0.8,6.3,0.7,9.5c-0.1,0.3-0.1,0.6-0.1,0.8c-0.2,2.4-0.8,4.7-2,6.9c-2.4,4.3-7.8,5.4-11.9,2.6
			c-1.8-1.2-2.5-3.1-3.1-5C120.2,80.6,120.1,78.9,119.9,77.1z M125.4,75.1c0.2,1.7,0.8,3.2,1.8,4.5c0.8,1.1,1.8,1.2,2.8,0.2
			c1.5-1.5,2.4-3.3,2.6-5.3c0.3-1.1,0.1-2.2-0.2-3.2c-0.4-1.6-1-3.1-2.4-4.2c-0.9-0.7-1.9-0.7-2.5,0.2
			C125.7,69.7,125,72.3,125.4,75.1z"/>
                        <path class="st5" d="M114.8,76.6c2.4,3.9,4.8,7.8,7.2,11.7c0.2,0.3,0.3,0.5,0.5,0.9c-0.5,0-1-0.1-1.4-0.1
			c-1.5-0.2-2.9-0.3-4.4-0.5c-0.4,0-0.6-0.2-0.9-0.5c-1.7-2.1-3.4-4.2-5.1-6.2c-0.2-0.2-0.3-0.4-0.6-0.5c-0.1,1.1-0.1,2-0.1,3
			c-0.1,1.1-0.1,2.1-0.2,3.2c0,0.3,0,0.5-0.5,0.5c-1.3-0.1-2.7-0.2-4.1-0.2c0.1-8.6,0.1-17.1,0.2-25.7c0-2.4,0.1-4.7,0.1-7.1
			c0-0.3,0-0.5,0.4-0.6c6.5-0.5,10.9,3.3,12.2,8.5c0.2,1,0.2,2,0.2,3c-0.1,0.3-0.1,0.6-0.2,0.9c-0.5,2.7-1.8,5-3.3,7.3
			c-0.8,1.1-0.8,1.1,0,2.2C114.7,76.5,114.8,76.5,114.8,76.6z M110.5,67.7c0,0.2-0.1,0.3,0,0.5c0.9-0.7,1.9-1.2,2.6-2.2
			c0.4-0.5,0.7-1.1,0.4-1.8c-0.3-0.7-1-0.8-1.6-0.8c-0.3,0-0.6,0-0.9,0c-0.3,0-0.4,0.1-0.4,0.4C110.7,65.1,110.5,66.4,110.5,67.7z"
                        />
                        <path class="st4" d="M8.7,79.4c2.1,0.1,4.3,0.1,6.4,0c0.7,0,1,0.1,0.9,0.9c-0.1,2.4-0.1,4.9-0.2,7.3c-4-0.1-8.1-0.2-12.1-0.3
			c0.1-6.5,0.2-13,0.3-19.5c0-3.7,0.1-7.3,0.1-11c0.1-1.1,0.1-1.1,1.2-1.1c1.7,0,3.5,0.2,5.2,0.1c1.8,0,3.6,0.1,5.3,0.1
			c0.6,0,0.8,0.2,0.8,0.8c0,2.6,0,5.1,0,7.7c-2.2,0-4.5-0.1-6.7-0.1c-1.4,0-1.4,0-1.4,1.4c0,1-0.2,1.9,0.1,2.9c2,0,4,0.1,6,0
			c0.7,0,0.8,0.2,0.7,0.8c-0.1,0.6,0,1.3,0,1.9c-0.1,1.3-0.1,2.7-0.1,4l0,0c-1.7,0-3.4-0.1-5.1-0.2c-1.6-0.1-1.6-0.1-1.6,1.5
			c0,0.3,0,0.5,0,0.8c0,0.1,0,0.2,0,0.3C8.6,78.4,8.5,78.9,8.7,79.4z"/>
                        <path class="st4" d="M85,79.4c0.8,0.2,1.6,0.1,2.3,0.1c1.5,0,3,0,4.4,0c0.3,0,0.6-0.1,0.6,0.4c-0.1,2.6-0.1,5.2-0.2,7.8
			c-4-0.1-8-0.2-12.1-0.3c-0.2-1.2,0-2.4,0-3.6c0-4.8,0.1-9.5,0.2-14.3c0.1-4.3,0.1-8.5,0.2-12.8c0-1,0-0.9,1-0.9
			c3.5,0.1,7.1,0.1,10.6,0.2c0.7,0,0.9,0.1,0.9,0.9c-0.1,2.5,0,5.1,0,7.7c-0.5,0-1,0-1.5,0c-2-0.1-4-0.1-6-0.2
			c-0.2,0-0.6-0.1-0.6,0.3c0,1.3-0.1,2.6,0.1,4c2,0.1,4,0.1,6,0c0.7,0,0.9,0.2,0.8,0.9c-0.1,1.9-0.1,3.7-0.1,5.6
			c-0.1,0.4-0.4,0.3-0.7,0.3c-1.8-0.1-3.7-0.1-5.5-0.2c-0.2,0-0.7-0.2-0.7,0.3C85,76.9,84.8,78.1,85,79.4z"/>
                        <path class="st5" d="M176.9,84.8c-0.6-0.2-0.6-0.6-0.5-1.2c0.7-2.2,1.3-4.3,2-6.5c0.1-0.2,0.1-0.3,0.2-0.6
			c1.2,1.1,2.4,2.2,3.7,3.1c0.6,0.4,1.3,0.8,2,1c1.6,0.5,2.6,0,3.3-1.5c0.6-1.1,0.4-2.1-0.6-2.9c-0.7-0.6-1.5-1-2.3-1.3
			c-3-1.1-4.9-3.2-6-6.1c-0.5-1.2-0.8-2.5-1-3.9c-0.1-2.1,0.2-4,1.4-5.7c1.4-2.2,3.4-3.1,5.9-3.3c0.1,0,0.3,0,0.4,0
			c2.1,0,4.2,0.3,6.2,0.9c0.5,0.1,0.7,0.3,0.5,0.8c-0.2,0.5-0.2,1.1-0.3,1.6c-0.4,1.2-0.5,2.4-0.9,3.6c-0.1,0.5-0.1,1.3-0.4,1.5
			c-0.4,0.2-0.9-0.4-1.4-0.6c-1.1-0.5-2.2-1.1-3.5-1c-1.7,0.2-2.7,2-1.8,3.5c0.3,0.6,0.8,1,1.2,1.5c1.3,1.1,2.6,2.2,4.2,2.8
			c1.7,0.7,2.5,2,2.9,3.7c0.4,1.6,0.4,3.3,0.3,5c-0.4,2.4-1.3,4.5-2.8,6.5c-1,1.3-2.2,1.9-3.8,1.9c-1.5,0.1-2.9-0.2-4.3-0.7
			C180,86.3,178.5,85.5,176.9,84.8z"/>
                        <path class="st5" d="M18.8,65.2c-0.2-2.2,0.2-4.3,1.4-6.1c1.3-1.9,3.1-2.9,5.4-3.1c2.5-0.2,5,0.2,7.4,0.9c0.3,0.1,0.4,0.2,0.3,0.5
			c-0.2,0.6-0.2,1.2-0.4,1.8c0,0.1-0.1,0.2-0.1,0.3c-0.3,1.5-0.7,2.9-1,4.4c-0.1,0.5-0.3,0.5-0.6,0.3c-0.4-0.3-0.8-0.5-1.3-0.8
			c-1-0.5-2-0.9-3.1-0.8c-1.7,0.2-2.6,2.1-1.7,3.5c0.9,1.5,2.4,2.5,3.8,3.4c0.4,0.3,0.9,0.6,1.4,0.8c2.1,0.8,2.9,2.5,3.3,4.6
			c0.2,1.4,0.2,2.7,0.1,4.1c0,0.1-0.1,0.1-0.1,0.2c-0.3,2.4-1.3,4.6-2.8,6.5c-0.6,0.8-1.3,1.4-2.3,1.6c-1.6,0.4-3.2,0.2-4.8-0.2
			c-2-0.5-3.8-1.4-5.7-2.3c-0.6-0.2-0.7-0.6-0.5-1.2c0.7-2.3,1.4-4.6,2.1-7.1c0.6,0.6,1.2,1.1,1.8,1.6c1.2,1,2.3,1.9,3.8,2.4
			c1.6,0.5,2.6,0.1,3.3-1.5c0.6-1.1,0.4-2.1-0.7-3c-0.7-0.6-1.6-1-2.4-1.3c-2.1-0.9-3.8-2.3-4.9-4.3C19.6,68.9,19.1,67.1,18.8,65.2z
			"/>
                        <path class="st5" d="M39.2,73.8c0.1,1.7,0.5,3.3,1.6,4.7c0.1,0.1,0.2,0.3,0.3,0.4c1.3,1.4,2.4,1.3,3.3-0.4
			c0.2-0.4,0.5-0.8,0.6-1.3c0.2-0.6,0.5-0.8,1.1-0.7c1.2,0.2,2.5,0.3,3.8,0.4c0.4,0,0.4,0.2,0.3,0.5c-0.2,0.6-0.3,1.2-0.4,1.8
			c-0.6,2-1.2,4-2.3,5.7c-1,1.6-2.4,2.6-4.4,2.2c-0.2,0-0.4,0-0.6,0c-2.8-0.1-4.8-1.3-6-3.9c-0.9-1.8-1.1-3.8-1.4-5.7
			c-0.2-1.8-0.4-3.6-0.6-5.5c-0.1-2.8,0-5.6,0.8-8.3c0.6-2,1.5-3.8,2.9-5.3c2.2-2.3,7.2-2.9,9.4,1.2c1.1,2,1.6,4.2,2,6.5
			c0.2,0.9,0.3,1.8,0.4,2.7c0,0.2,0.1,0.5-0.2,0.6c-1.2,0.2-2.4,0.3-3.7,0.5c-0.5,0.1-0.8,0-0.8-0.6c-0.1-0.9-0.3-1.8-0.8-2.6
			c-0.5-0.8-1.2-1.2-2.2-1.1c-1.2,0.1-1.9,0.7-2.4,1.8C39.1,69.5,39,71.6,39.2,73.8z"/>
                        <path class="st4" d="M50.4,86.3c-0.5-0.1-0.3-0.4-0.2-0.7c0.6-3.3,1.2-6.6,1.9-10c1.2-6.3,2.4-12.5,3.5-18.8
			c0.1-0.7,0.3-0.9,1-0.8c0.9,0.1,1.9,0.1,2.9,0c0.6,0,0.8,0.2,1,0.8c1.2,5.7,2.4,11.5,3.6,17.2c0.7,3.4,1.4,6.8,2.1,10.1
			c0.1,0.3,0.2,0.7-0.3,0.8c-1.3,0.5-2.6,0.9-3.9,1.5c-0.6,0.2-0.7,0.1-0.8-0.5c-0.4-2.8-0.9-5.6-1.3-8.5c-0.1-0.3-0.2-0.5-0.6-0.5
			c-0.9,0-1.7,0-2.6,0c-0.4,0-0.5,0.1-0.6,0.5c-0.5,3.1-0.9,6.2-1.4,9.2c-0.1,0.5-0.2,0.6-0.7,0.4C52.8,86.9,51.6,86.6,50.4,86.3z
			 M57.4,72c0.4,0,0.7-0.1,1.1-0.1c0.4,0.1,0.5-0.1,0.4-0.5c-0.2-1.2-0.4-2.3-0.6-3.5c-0.1-0.6-0.1-1.3-0.4-2.1
			c0,0.3-0.1,0.5-0.1,0.7c-0.3,1.7-0.5,3.3-0.8,5C57,71.7,56.7,72.2,57.4,72z"/>
                        <path class="st5" d="M66.7,86.3c0-2.8,0.1-5.6,0.1-8.4c0.1-6.6,0.1-13.1,0.3-19.7c0-1.4-0.2-1,1.1-1.4c1.6-0.4,3.3-0.6,5-0.3
			c2.5,0.5,4.1,2.1,5.2,4.4c0.9,1.9,1.3,3.9,1.1,6c-0.3,2.3-1.4,4.2-3.2,5.7c-1.3,1.1-2.8,2-4.4,2.7c-0.2,0.1-0.5,0.2-0.5,0.5
			c0,0.6,0,1.3,0,1.9c-0.1,2.4-0.1,4.8-0.2,7.1c-0.2,0.8-0.1,1.7-0.1,2.5c0,0.4,0,0.6-0.5,0.5c-1.3-0.1-2.7-0.1-4-0.2
			c0-0.5,0-0.9,0-1.3C66.7,86.5,66.7,86.4,66.7,86.3z M74.4,66.5c0.6-0.9,0.6-1.6-0.1-2.3c-0.6-0.6-1.3-0.9-2-1.2
			c-0.3-0.1-0.4,0-0.4,0.3c0,0.6,0,1.3,0,1.9c-0.1,1.1-0.1,2.2-0.1,3.5C72.8,68.1,73.8,67.5,74.4,66.5z"/>
                        <path class="st6" d="M66.7,86.3c0,0.1,0,0.2,0,0.3C66.6,86.5,66.6,86.4,66.7,86.3z"/>

                    </g>

                </svg>
            </a>
        </div>

        <div class="float-right mobile-nav">
            <div class="title-bar-title text-upper">Menu</div>
            <button class="menu-icon" type="button" data-open="offCanvas"></button>
        </div>
    </div>
</div>